<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Document</title>
</head>
<body>
  <header>
    <section>
      <h2>DH-School</h2>
      <nav>
        <ul>
          <li> <a href="/"></a>Home</li>
          <li> <a href="/alunos"></a>Alunos</li>
          <li> <a href="/areas"></a>Areas</li>
        </ul>
      </nav>
    </section>
  </header>
