<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h3>Lista de alunos</h3>

    <ul>
      <% alunos.forEach(aluno => { %>
       <li><%= aluno.nome %> </li>
      <% }) %>
    </ul>
  </body>
</html>
